@import "bulma";

$light-mav: #ededed;
$black: #212121;
$cherry: #ff5252;
$zinger: #e3fe3d;
$blue: #4ac6e7;

$gray-light: #bababa;
$gray: #999999;
$gray-dark: #757575;

body {
  margin: 0;
  font-family: 'Lora', serif;
  color: $black;
  background: #fff;
}

.header {
  width: 100%;
  background: #fff;
}
#menu {
  padding: 0 2rem;
  width: 100%;
  box-shadow: 0 0.05rem 0.3rem 0 $gray;
  position: fixed;
  display: none;
  z-index: 999;

  .nav {
    align-items: center;
  }
}

.content {
  h1 {
    margin-bottom: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: bold;
    color: $cherry;
  }
}

.button {
  margin-left: 1rem;
  padding: 0;
  background: transparent;
  border: none;
}

.nav-menu {
  a  {
    font-family: 'Lora', serif;
    color: $gray-dark;
    text-transform: lowercase;
    &:hover {
      color: $cherry;
    }
  }
}

.beans {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
}

.hero {
  display: flex;
  flex-direction: column;
  align-content: center;

}

.hero-body {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.my-face {
  img {
    border-radius: 100%;
  }
}

.hero__container {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.intro {
  align-self: center;
  text-align: left;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0.6rem;
  text-transform: lowercase;
  color: $cherry;
  margin-left: 2rem;
  font-size: 2rem;
}

.little-nav {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  a {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    text-decoration: none;
    color: $cherry;
    border: none;
    &:hover {
      color: $blue;
      background: $zinger;
    }
  }
}

.container,
.footer,
.section {
  background: transparent;
}

.level {
  justify-content: center;
  margin-top: 3rem;
}


.is-ancestor {
  justify-content: center;
}

.icon {
  color: $cherry;
  font-size: 3rem;
  margin: 1rem;
}

.tile {
  border-radius: 0;
}

.bold {
  font-weight: 700;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.about-me {
  line-height: 2.5rem;
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
}

.section-title {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: $cherry;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.7rem;
  transition: color 300ms ease-out, letter-spacing 300ms ease-out, text-shadow ease-out 300ms;
  &:hover {
    letter-spacing: 0.5rem;
    color: $blue;
    text-shadow: 0.2rem 0.1rem 0.2rem $zinger;
    transition: color 300ms ease-in, letter-spacing 300ms ease-in, text-shadow ease-in 300ms;
  }
}

/***** Card Styles *****/

.card__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &-b {
    margin-top: 5rem;
  }
}

.card-title {
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.card-subtitle {
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  text-transform: lowercase;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
}

.card-content__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-subsub {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid $cherry;
  color: $cherry;
  padding: 1rem 1.5rem;
  letter-spacing: 0.1rem;
  &:hover {
    color: white;
    background: $cherry;
  }
  &:hover {
    color: $blue;
    background: $zinger;
    border: 1px solid $zinger;
  }

}


.experience {
  display: flex;
  flex: row;
  justify-content: space-around;
}

p {
  font-size: 1.2rem;
}

.hero-columns {
  align-items: center;
}

figure .image {
  width: 3rem;

  img {
    width: 100%;
    height: auto;
  }
}

.container {
  width: 75%;
}

.row {
  .fa-angle-double-down {
    font-size: 3rem;
    font-weight: 300;
  }
}

.footer a:not(.icon) {
  border: 0;
  outline: 0;
  border-bottom: 0;
  border-bottom-color: transparent;
}

.content a:not(.button) {
  border: 0;
  outline: 0;
  border-bottom: 0;
  border-bottom-color: transparent;
}

.icon {
  .fa {
    color: $cherry;
    transition: font-size 200ms ease-out, color 200ms ease-out, text-shadow 200ms ease-out;
    &:hover {
      font-size: 3.7rem;
      color: $blue;
      text-shadow: 0.1rem 0.1rem $zinger;
      transition: font-size 200ms ease-in, color 200ms ease-in, text-shadow 200ms ease-in;
    }
  }
}
