<div class="app">
<div class="header">
  <nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand content" href="#">
      <h1 class="title site-title">Hannah Swift</h1>
    </a>
  </div>

  <div class="nav-center">
    <a class="nav-item" href="#">
      <span class="icon">
        {{!-- <i class="fa fa-github"></i> --}}
      </span>
    </a>
    <a class="nav-item" href="#">
      <span class="icon">
        {{!-- <i class="fa fa-twitter"></i> --}}
      </span>
    </a>
  </div>

  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu">
    <a class="nav-item button is-medium" href="#">
      home
    </a>
    <a class="nav-item button is-medium" href="#">
      about
    </a>
    <a class="nav-item button is-medium" href="#">
      code
    </a>
    <a class="nav-item button is-medium" href="#">
      contact
    </a>

    {{!-- <span class="nav-item">
      <a class="button" >
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
        <span>Tweet</span>
      </a>
      <a class="button is-primary" href="#">
        <span class="icon">
          <i class="fa fa-download"></i>
        </span>
        <span>Download</span>
      </a>
    </span> --}}
  </div>
</nav>
  </div>
  <section class="hero is-info is-large is-bold is-light">
    <div class="hero-body">
      <div class="content has-text-centered">
      <p class="title is-1">Hannah Swift</p>
      <p class="subtitle is-3">Web Developer</p>
      </div>
    </div>
  </section>
  <div class="level">
    <div class="level-item has-text-centered">
      <h1 class="title">My Projects</h1>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="level">
      <div class="card shadow">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="http://static1.squarespace.com/static/5160f38ee4b0f29c92630ca9/566c7649a976afcb5483353c/566c764fa976afcb54833577/1449948754176/R1-05369-0011.jpg?format=1500w" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      {{!-- <div class="media-left">
        <figure class="image is-32x32">
          <img src="http://placehold.it/64x64" alt="Image">
        </figure>
      </div> --}}
      <div class="media-content">
        <p class="title is-5">Project Title</p>
        <p class="subtitle is-6">Built with yada yada</p>
      </div>
    </div>

    <div class="content">
      <p>View project</p>
      <p>View source code</p>
      {{!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a href="#">@bulmaio</a>.
      <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <small>11:09 PM - 1 Jan 2016</small> --}}
    </div>
  </div>
</div>
<div class="card shadow">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="http://static1.squarespace.com/static/5160f38ee4b0f29c92630ca9/566c7649a976afcb5483353c/566c764fa976afcb54833577/1449948754176/R1-05369-0011.jpg?format=1500w" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      {{!-- <div class="media-left">
        <figure class="image is-32x32">
          <img src="http://placehold.it/64x64" alt="Image">
        </figure>
      </div> --}}
      <div class="media-content">
        <p class="title is-5">Project Title</p>
        <p class="subtitle is-6">Built with yada yada</p>
      </div>
    </div>

    <div class="content">
      <p>View Project</p>
      <p>View source code</p>
      {{!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a href="#">@bulmaio</a>.
      <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <small>11:09 PM - 1 Jan 2016</small> --}}
    </div>
  </div>
</div>
<div class="card shadow">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="http://static1.squarespace.com/static/5160f38ee4b0f29c92630ca9/566c7649a976afcb5483353c/566c764fa976afcb54833577/1449948754176/R1-05369-0011.jpg?format=1500w" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      {{!-- <div class="media-left">
        <figure class="image is-32x32">
          <img src="http://placehold.it/64x64" alt="Image">
        </figure>
      </div> --}}
      <div class="media-content">
        <p class="title is-5">Project Title</p>
        <p class="subtitle is-6">Built with yada yada</p>
      </div>
    </div>

    <div class="content">
      <p>View Project</p>
      <p>View source code</p>
      {{!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a href="#">@bulmaio</a>.
      <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <small>11:09 PM - 1 Jan 2016</small> --}}
    </div>
  </div>
</div>
</div>
<div class="level">
  <div class="card shadow">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="http://static1.squarespace.com/static/5160f38ee4b0f29c92630ca9/566c7649a976afcb5483353c/566c764fa976afcb54833577/1449948754176/R1-05369-0011.jpg?format=1500w" alt="">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        {{!-- <div class="media-left">
          <figure class="image is-32x32">
            <img src="http://placehold.it/64x64" alt="Image">
          </figure>
        </div> --}}
        <div class="media-content">
          <p class="title is-5">Project Title</p>
          <p class="subtitle is-6">Built with yada yada</p>
        </div>
      </div>

      <div class="content">
        <p>View Project</p>
        <p>View source code</p>
        {{!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a href="#">@bulmaio</a>.
        <a href="#">#css</a> <a href="#">#responsive</a>
        <br>
        <small>11:09 PM - 1 Jan 2016</small> --}}
      </div>
    </div>
  </div>
  <div class="card shadow">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="http://static1.squarespace.com/static/5160f38ee4b0f29c92630ca9/566c7649a976afcb5483353c/566c764fa976afcb54833577/1449948754176/R1-05369-0011.jpg?format=1500w" alt="">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        {{!-- <div class="media-left">
          <figure class="image is-32x32">
            <img src="http://placehold.it/64x64" alt="Image">
          </figure>
        </div> --}}
        <div class="media-content">
          <p class="title is-5">Project Title</p>
          <p class="subtitle is-6">Built with yada yada</p>
        </div>
      </div>

      <div class="content">
        <p>View Project</p>
        <p>View source code</p>
        {{!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a href="#">@bulmaio</a>.
        <a href="#">#css</a> <a href="#">#responsive</a>
        <br>
        <small>11:09 PM - 1 Jan 2016</small> --}}
      </div>
    </div>
  </div>
  <div class="card shadow">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="http://static1.squarespace.com/static/5160f38ee4b0f29c92630ca9/566c7649a976afcb5483353c/566c764fa976afcb54833577/1449948754176/R1-05369-0011.jpg?format=1500w" alt="">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        {{!-- <div class="media-left">
          <figure class="image is-32x32">
            <img src="http://placehold.it/64x64" alt="Image">
          </figure>
        </div> --}}
        <div class="media-content">
          <p class="title is-5">Project Title</p>
          <p class="subtitle is-6">Built with yada yada</p>
        </div>
      </div>

      <div class="content">
        <p>View Project</p>
        <p>View source code</p>
        {{!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a href="#">@bulmaio</a>.
        <a href="#">#css</a> <a href="#">#responsive</a>
        <br>
        <small>11:09 PM - 1 Jan 2016</small> --}}
      </div>
    </div>
  </div>

</div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary shadow">
          <p class="title">Vertical...</p>
          <p class="subtitle">Top tile</p>
        </article>
        <article class="tile is-child notification is-warning shadow">
          <p class="title">...tiles</p>
          <p class="subtitle">Bottom tile</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info shadow">
          <a href="#">
          <p class="title">I build stuff.</p>
          <p class="subtitle">With code.</p>
          <figure class="image is-4by3">
            <img src="http://static1.squarespace.com/static/5160f38ee4b0f29c92630ca9/566c7649a976afcb5483353c/566c764fa976afcb54833577/1449948754176/R1-05369-0011.jpg?format=1500w">
          </figure>
        </a>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger shadow">
        <p class="title">Wide tile</p>
        <p class="subtitle">Aligned with the right tile</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success shadow">
      <div class="content">
        <p class="title">Resume</p>
        <p class="subtitle">Education</p>

        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>This is the footer. Hannah Swift 2016 &copy;</p>
      </div>
    </div>
  </div>

  {{outlet}}
</div>
