<div class="app">
  <div class="header" id="menu">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item content" href="#">
          <h1 class="title site-title">Hannah Swift</h1>
        </a>
      </div>

      <div class="nav-center">
      </div>

      <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
      </span>

      <div class="nav-right nav-menu">
        <a class="nav-item button is-medium" href="#">
          home
        </a>
        <a class="nav-item button is-medium" href="#">
          about
        </a>
        <a class="nav-item button is-medium" href="#2">
          code
        </a>
        <a class="nav-item button is-medium" href="#">
          contact
        </a>
      </div>
    </nav>
  </div>
  <section class="hero is-info is-large is-bold is-primary has-text-centered">
    <div class="hero-body">
      <div class="container has-text-centered">
      <div class="row">
        <div class="columns hero-columns">
          <div class="content column is-one-third">
            <figure class="image my-face">
              <img src="image/DSC_1778.jpg" alt="">
            </figure>
          </div>
          <div class="column is-two-tirds">
            <h1 class="intro">Hi, I'm Hannah. <br>A creative who likes to tinker with the web.</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <i class="fa fa-angle-double-down"></i>
      </div>
      </div>
    </div>
  </section>
  <div class="level">
    <div class="level-item has-text-centered">
      <h1 class="title section-title">The short of it</h1>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="content about-content">
        <p class="about-me">
          I’m a web developer in Nashville, TN who appreciates clean and simple web design. I enjoy creating fast, responsive, user-friendly websites and applications in collaborative environments.
          <br>
          <br> I recently graduated from The Iron Yard's three month immersive coding program where I learned new and innovative ways to build products that deliver great user experiences. I've got HTML & CSS, JavaScript and other modern client-side frameworks in my tool belt. You can see more of my skills in my resume below.
          <br>
          <br> When I’m not <a href="https://github.com/hannahgswift?tab=activity">coding</a> or taking <a href="http://www.hannahswift.com/">photos</a>, you can find me <a href="http://www.hannahswift.com/#/monument-valley/">trail running</a>, watching reruns
          of The Office, or making obscure Jurassic Park references.
        </p>
      </div>
    </div>
  </div>
  <div class="level">
    <div class="level-item has-text-centered">
      <h1 class="title section-title">Projects</h1>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="card__container">
        <div class="card">
          <a href="https://hs-puppies.surge.sh">
            <div class="card-image">
              <figure class="image is-4by2">
                <img src="image/puppies.png" alt="puppy image">
              </figure>
            </div>
          </a>
          <div class="card-content">
            <div class="media card-content__top">
              <div class="media-content">
                <p class="card-title is-5">Puppy Adoption Site</p>
                <p class="card-subtitle is-6">Built with Vanilla JavaScript</p>
              </div>
            </div>
            <div class="content card-content__bottom">
              <a href="https://hs-puppies.surge.sh">
                <p class="card-subsub">Project</p>
              </a>
              <a href="https://github.com/hannahgswift/15-puppy-adoption/tree/master">
                <p class="card-subsub">Code</p>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <a href="http://hs-runtimer.surge.sh/">
          <div class="card-image">
            <figure class="image is-4by2">
              <img src="image/runtimer.png" alt="">
            </figure>
          </div>
          </a>
          <div class="card-content">
            <div class="media card-content__top">
              <div class="media-content">
                <p class="card-title is-5">Run Timer</p>
                <p class="card-subtitle is-6">Built with SASS + Ember.js</p>
              </div>
            </div>

            <div class="content card-content__bottom">
              <a href="http://hs-runtimer.surge.sh/">
                <p class="card-subsub">Project</p>
              </a>
              <a href="https://github.com/hannahgswift/19-run-timer/tree/develop">
                <p class="card-subsub">Code</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card__container card__container-b">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://static1.squarespace.com/static/5160f38ee4b0f29c92630ca9/566c7649a976afcb5483353c/566c764fa976afcb54833577/1449948754176/R1-05369-0011.jpg?format=1500w" alt="">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">Project Title</p>
                <p class="subtitle is-6">Built with yada yada</p>
              </div>
            </div>

            <div class="content">
              <p>View Project</p>
              <p>View source code</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://static1.squarespace.com/static/5160f38ee4b0f29c92630ca9/566c7649a976afcb5483353c/566c764fa976afcb54833577/1449948754176/R1-05369-0011.jpg?format=1500w" alt="">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">Project Title</p>
                <p class="subtitle is-6">Built with yada yada</p>
              </div>
            </div>

            <div class="content">
              <p>View Project</p>
              <p>View source code</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="level">
    <div class="level-item has-text-centered">
      <h1 class="title section-title">Resume</h1>
    </div>
  </div>
  <div class="section">
    <div class="">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-primary shadow">
                <span class="resume">
                  <p class="title bold">Education</p>
                  <p class="bold">
                    Front-End Web Development
                    <br>
                    The Iron Yard
                    <br>
                    Nashville, TN
                    <br>
                    Graduated September 2016
                  </p>
                  <br>
                  <p class="bold">
                    B.S. Communication: Public Relations
                    <br>
                    Austin Peay State University
                    <br>
                    Clarksville, TN
                    <br>
                    Graduated December 2013
                  </p>
                </span>
              </article>
              <article class="tile is-child notification is-warning shadow">
                <p class="title bold">Contact</p>
                <p class="bold">931-206-9405</p>
                <p class="bold">hannahgswift@gmail.com</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info shadow">
                <p class="title bold">Web Dev Skills</p>
                <p class="bold">
                  HTML & CSS
                  <br> JavaScript
                  <br> Git & GitHub
                  <br> Ember.js
                  <br> Node.js & NPM
                  <br> Test Driven Development
                  <br> Object Oriented Programming
                  <br> CSS Frameworks: Materialize & Bulma
                  <br> SASS
                </p>
                <br>
                <p class="subtitle bold">Also familiar with:</p>
                <p class="bold">
                  Adonis.js
                  <br> React.js
                </p>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger shadow">
              <p class="title bold">Experience</p>
              <div class="content experience">
                <p class="bold">
                  Freelance Photographer
                  <br>
                  <a href="http://www.hannahswift.com">Hannah Swift Photography</a>
                  <br>
                  Nashville, TN
                  <br>
                  <br> Fun Company Site Assistant
                  <br> YMCA Middle Tennessee
                  <br> Clarksville, TN
                  <br>
                </p>
                <p class="bold">
                  Outpatient Registrar
                  <br> Gateway Medical Center
                  <br> Clarksville, TN
                  <br>
                  <br> Content Creator
                  <br> Ashraya Mission
                  <br> Mussoorie, India
                  <br>
                </p>
                <p class="bold">
                  Photography Intern
                  <br> Ashraya Mission
                  <br> Karnataka, India
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <a href="https://github.com/hannahgswift">
          <span class="icon">
          <i class="fa fa-github"></i>
        </span>
        </a>
        <a href="https://www.linkedin.com/in/hannahgswift">
          <span class="icon">
          <i class="fa fa-linkedin"></i>
        </span>
        </a>
        <a href="mailto:hannahgswift@gmail.com">
          <span class="icon">
          <i class="fa fa-envelope-o"></i>
        </span>
        </a>
        <a href="https://twitter.com/HannahGSwift">
          <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
        </a>
        <a href="https://www.instagram.com/hannahgraceswift/">
          <span class="icon">
            <i class="fa fa-instagram"></i>
          </span>
        </a>
      </div>
    </div>
  </div>

  {{outlet}}
</div>
