<div class="app" id="home">
  <div class="header" id="menu">
    <nav class="nav">
      <div class="nav-left is-flex-touch">
        <a class="nav-item content" href="#">
          {{#scroll-to href="#home"}}
          <h1 class="title site-title">Hannah G Swift</h1>
          {{/scroll-to}}
        </a>
      </div>
      <div class="nav-right is-flex-touch">
        {{#scroll-to href='#about' class="nav-item button is-medium" }}
          about
        {{/scroll-to}}

        {{#scroll-to href='#code' class="nav-item button is-medium" }}
          code
        {{/scroll-to}}

        {{#scroll-to href='#resume' class="nav-item button is-medium" }}
          resume
        {{/scroll-to}}

        {{#scroll-to href='#contact' class="nav-item button is-medium" }}
          contact
        {{/scroll-to}}
      </div>
    </nav>
  </div>
  <section class="hero is-fullheight has-text-centered">
    <div class="hero-head">
      <div class="nav">
        <div class="container">
          <div class="nav-center">
            <div class="nav-item">
              {{#scroll-to href='#contact' class="first-contact" }}
                contact
              {{/scroll-to}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-body has-text-centered">
      <div class="hero__container">
        <div class="columns hero-columns">
          <div class="content column is-one-third">
            <figure class="image my-face is-hidden-mobile">
              <img src="assets/image/DSC_1778.jpg" alt="">
            </figure>
          </div>
          <div class="column is-two-tirds intro__wrapper">
            <h1 class="intro">Hi, I'm Hannah. <br>A creative who likes to tinker with the web.</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row hero-foot">
      <div class="container">
        {{#scroll-to href='#about' }}
          <i class="fa fa fa-angle-down" aria-hidden="true"></i>
        {{/scroll-to}}
      </div>
    </div>
  </section>
  <div class="level" id="about">
    <div class="container">
      <div class="level-item has-text-centered">
        <h1 class="title section-title">The short <br class="breaker-breaker"> of it</h1>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="content about-content">
        <p class="about-me">
          I’m a web developer in Nashville, TN who appreciates clean and simple web design. I enjoy creating fast, responsive, user-friendly websites and applications in collaborative environments.
          <br>
          <br> I recently graduated from The Iron Yard's three month immersive coding program where I learned new and innovative ways to build products that deliver great user experiences. I've got HTML & CSS, JavaScript and other modern client-side frameworks
          in my tool belt. You can see more of my skills in my resume below, or click <a href="assets/image/resume.pdf">here</a> to download the PDF.
          <br>
          <br> When I’m not <a href="https://github.com/hannahgswift?tab=activity">coding</a> or taking <a href="http://www.hannahswift.com/portfolio">photos</a>, you can find me <a href="http://www.hannahswift.com/portfolio#/monument-valley/">trail running</a>          or watching reruns of The Office.
        </p>
      </div>
    </div>
  </div>
  <div class="level" id="code">
    <div class="container">
      <div class="level-item has-text-centered">
        <h1 class="title section-title">Projects</h1>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="card__container">
        <div class="card">
          <a href="https://kin-parenting.surge.sh/">
            <div class="card-image">
              <figure class="image is-4by2">
                <img src="assets/image/kin.png" alt="">
              </figure>
            </div>
          </a>
          <div class="card-content">
            <div class="media card-content__top">
              <div class="media-content">
                <p class="card-title is-5">Kin</p>
                <p class="card-subtitle is-6">Built with Ember.js + Adonis.js + Materialize</p>
                {{!-- <p class="card-subtitle is-6">Login with email and password: sally@sally.com "sally"</p> --}}
              </div>
            </div>

            <div class="content card-content__bottom">
              <a href="https://kin-parenting.surge.sh/">
                <p class="card-subsub">Project</p>
              </a>
              <a href="https://github.com/tiy-parenting-app/parent-app">
                <p class="card-subsub">Code</p>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <a href="http://hs-runtimer.surge.sh/">
            <div class="card-image">
              <figure class="image is-4by2">
                <img src="assets/image/runtimer.png" alt="">
              </figure>
            </div>
          </a>
          <div class="card-content">
            <div class="media card-content__top">
              <div class="media-content">
                <p class="card-title is-5">Run Timer</p>
                <p class="card-subtitle is-6">Built with Ember.js + SASS</p>
              </div>
            </div>

            <div class="content card-content__bottom">
              <a href="http://hs-runtimer.surge.sh/">
                <p class="card-subsub">Project</p>
              </a>
              <a href="https://github.com/hannahgswift/19-run-timer/tree/develop">
                <p class="card-subsub">Code</p>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <a href="https://hs-puppies.surge.sh">
            <div class="card-image">
              <figure class="image is-4by2">
                <img src="assets/image/puppies.png" alt="puppy image">
              </figure>
            </div>
          </a>
          <div class="card-content">
            <div class="media card-content__top">
              <div class="media-content">
                <p class="card-title is-5">Puppy Adoption Site</p>
                <p class="card-subtitle is-6">Built with Vanilla JavaScript + SASS</p>
              </div>
            </div>
            <div class="content card-content__bottom">
              <a href="https://hs-puppies.surge.sh">
                <p class="card-subsub">Project</p>
              </a>
              <a href="https://github.com/hannahgswift/15-puppy-adoption/tree/master">
                <p class="card-subsub">Code</p>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <a href="http://hs-brewerylist.surge.sh/">
            <div class="card-image">
              <figure class="image is-4by2">
                <img src="assets/image/breweries.png" alt="">
              </figure>
            </div>
          </a>
          <div class="card-content">
            <div class="media card-content__top">
              <div class="media-content">
                <p class="card-title is-5">Brewery List</p>
                <p class="card-subtitle is-6">Built with Ember.js + BreweryDB API + SASS</p>
              </div>
            </div>

            <div class="content card-content__bottom">
              <a href="http://hs-brewerylist.surge.sh/">
                <p class="card-subsub">Project</p>
              </a>
              <a href="https://github.com/hannahgswift/17-brewery-list/tree/develop">
                <p class="card-subsub">Code</p>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by2">
              <img src="assets/image/popularposts.png" alt="">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="card-title is-5">Popular Posts</p>
                <p class="card-subtitle is-6">Built with Adonis.js + Materialize</p>
              </div>
            </div>

            <div class="content card-content__bottom">
              <p class="card-subsub gray-btn"> Project</p>
              <a href="https://github.com/hannahgswift/21-popular-posts/tree/develop">
                <p class="card-subsub">Code</p>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by2">
              <img src="assets/image/todo.png" alt="">
            </figure>
          </div>
          <div class="card-content">
            <div class="media card-content__top">
              <div class="media-content">
                <p class="card-title is-5">Todo List</p>
                <p class="card-subtitle is-6">Built with Ember.js + Mirage Faker.js + SASS</p>
              </div>
            </div>
            <div class="content card-content__bottom">
              <p class="card-subsub gray-btn">Project</p>
              <a href="https://github.com/hannahgswift/todo-group/tree/develop">
                <p class="card-subsub">Code</p>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <a href="http://hs-tshirts.surge.sh/">
            <div class="card-image">
              <figure class="image is-4by2">
                <img src="assets/image/tshirts.png" alt="">
              </figure>
            </div>
          </a>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="card-title is-5">Highly Responsive Shirts</p>
                <p class="card-subtitle is-6">Built with HTML + SASS</p>
              </div>
            </div>

            <div class="content card-content__bottom">
              <a href="http://hs-tshirts.surge.sh/">
                <p class="card-subsub"> Project</p>
              </a>
              <a href="https://github.com/hannahgswift/06-tshirts/tree/develop">
                <p class="card-subsub">Code</p>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="level" id="resume">
    <div class="container">
      <div class="level-item has-text-centered">
        <h1 class="title section-title">Resume</h1>
        <br>
        <p>Click <a href="assets/image/resume.pdf" target="_blank">here</a> for the PDF version.</p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-primary shadow">
                <span class="resume">
                  <p class="title bold">Education</p>
                  <p class="bold">
                    Front-End Engineering
                    <br>
                    The Iron Yard
                    <br>
                    Nashville, TN
                    <br>
                    Graduated September 2016
                  </p>
                  <br>
                  <p class="bold">
                    B.S. Communication: Public Relations
                    <br>
                    Austin Peay State University
                    <br>
                    Clarksville, TN
                    <br>
                    Graduated December 2013
                  </p>
                </span>
              </article>
              <article class="tile is-child notification is-warning shadow">
                <p class="title bold" id="contact">Contact</p>
                <p class="bold">931-206-9405</p>
                <p class="bold">hannahgswift@gmail.com</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info shadow">
                <p class="title bold">Web Dev Skills</p>
                <p class="bold">
                  HTML
                  <br> CSS
                  <br> SASS
                  <br> JavaScript
                  <br> Git & GitHub
                  <br> Ember.js
                  <br> Node.js & NPM
                  <br> Object Oriented Programming
                  <br> CSS Frameworks: Materialize & Bulma
                </p>
                <br>
                <p class="subtitle bold">Also familiar with:</p>
                <p class="bold">
                  Adonis.js
                  <br> React.js
                  <br> Test Driven Development
                </p>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger shadow">
              <p class="title bold">Experience</p>
              <div class="content experience">
                <p class="bold">
                  Freelance Photographer
                  <br>
                  <a href="http://www.hannahswift.com/portfolio">Hannah Swift Photography</a>
                  <br> Nashville, TN
                  <br>
                  <br> Fun Company Site Assistant
                  <br> YMCA Middle Tennessee
                  <br> Clarksville, TN
                  <br>
                </p>
                <p class="bold">
                  Outpatient Registrar
                  <br> Gateway Medical
                  <br> Clarksville, TN
                  <br>
                  <br> Content Creator
                  <br> Ashraya Mission
                  <br> Mussoorie, India
                  <br>
                </p>
                <p class="bold">
                  Photography Intern
                  <br> Ashraya Mission
                  <br> Karnataka, India
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <a href="https://github.com/hannahgswift">
          <span class="icon">
          <i class="fa fa-github"></i>
        </span>
        </a>
        <a href="https://www.linkedin.com/in/hannahgswift">
          <span class="icon">
          <i class="fa fa-linkedin"></i>
        </span>
        </a>
        <a href="mailto:hannahgswift@gmail.com">
          <span class="icon">
          <i class="fa fa-envelope-o"></i>
        </span>
        </a>
        <a href="https://twitter.com/HannahGSwift">
          <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
        </a>
        <a href="https://www.instagram.com/hannahgraceswift/">
          <span class="icon">
            <i class="fa fa-instagram"></i>
          </span>
        </a>
      </div>
    </div>
  </div>

  {{outlet}}
</div>
